body {
    background-image: url('/assets/img/1.jpg'); /* tanpa 'public/' */
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Container styling */
  .landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.05);
    text-align: center;
    color: white;
  }
  
  /* Title */
  .landing-title {
    font-size: 3rem;
    margin-bottom: 40px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  }
  
  /* Button style */
  .landing-buttons {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .glass-button {
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: white;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease, border 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .glass-button:hover {
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  
  box-icon {
    width: 100px;
    height: 100px;
}
  